.error{
    color: red;
}
.row{
    margin-top: 25px;
}
.form-group p{
    color: red;
}
.success{
    background-color: green;
    color: white;
    padding: 15px;
}
.header{
    text-decoration: underline;
    font-weight: bold;
}
.message{
    display: inline-block;
}
.trashcan{
    background: url('/static/img/trashcan_icon.png');
    background-position:center;
    background-repeat:no-repeat;
    border-radius: 5px;
}