*{
    /* outline: 1px solid red; */
}
.container input{
    margin-bottom: 25px;
}
.container ul{
    margin: 25px auto;
    width: 50%;
    list-style: none;
    background-color: red;
    padding: 15px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
