<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Validation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        {% if session['regmessage']: %}
            <p class="success">The email address you entered {{ users[length]['email'] }} was able to be registered! Thank you! </p>
        {% endif %}
        {% if session['loginmessage']: %}
            <p class="success">Login Successful!  Welcome back, {{ session['first_name'] }}</p>
        {% endif %}
        
        <h3>Users:</h3>
        <table class="table table-borderless">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created</th>
            </tr>
        {% for user in users: %}
            <tr>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['created_at']}}</td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{ user['id'] }}">
                        <input type="submit" name="delete" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
        <form action="/">
            <input type="submit" name="back" value="Back" class="float-right btn btn-success">
        </form>
        <form action="/logout">
            <input type="submit" name="logout" value="Logout" class="float-right btn btn-danger">
        </form>
    </div>
</body>
</html>