@model Entry
    <h1 class="display-1 pb-5 text-center">Welcome to Quoting Dojo</h1>
    <div class="d-flex justify-content-center">   
    <div class="row justify-content-center outline col-6">
        <form asp-action="create" asp-controller="Home" method="POST" style="width:100%">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><label asp-for="Name">Your name:</label></td>
                        <td><input type="text" asp-for="Name" class="form-control"></td>
                        <span asp-validation-for="Name"></span>
                    </tr>
                    <tr>
                        <td><label asp-for="Quote">Your quote:</label></td>
                        <td><textarea asp-for="Quote" class="form-control" rows="6"></textarea></td>
                        <span asp-validation-for="Quote"></span>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <input type="submit" value="Add my quote!" class="btn btn-outline-dark">
                <a href="show" class="btn btn-outline-dark">Skip to the quotes!</a>
            </div>
        </form>
    </div>
</div>