@model Trail

<nav class="navbar navbar-dark bg-dark">
    <h2 class="navbar-brand"><u>Add a New Trail</u></h2>

        <a href="/" id="HomeLink">Go Home</a>
</nav>
<div class="row">
    <div class="col-8 offset-2 mt-5">
        <form asp-action="create" asp-controller="Home" method="POST">
            <table style="width:100%;">
                <tr>
                    <td><label asp-for="TrailName">Trail Name:</label></td>
                    <td>
                        <input type="text" asp-for="TrailName" class="form-control">
                        <span asp-validation-for="TrailName"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="TrailDesc">Description:</label></td>
                    <td>
                        <textarea asp-for="TrailDesc" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="TrailDesc"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="TrailLength">Trail Length:</label></td>
                    <td>
                        <input type="text" asp-for="TrailLength" class="form-control">
                        <span asp-validation-for="TrailLength"></span>
                    </td>
                    
                </tr>
                <tr>
                    <td><label asp-for="ElevationChange">Elevation Change:</label></td>
                    <td>
                        <input type="text" asp-for="ElevationChange" class="form-control">
                        <span asp-validation-for="ElevationChange"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Longitude">Longitude</label></td>
                    <td>
                        <input asp-for="Longitude" class="form-control">
                        <span asp-validation-for="Longitude"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Latitude">Latitude</label></td>
                    <td>
                        <input asp-for="Latitude" class="form-control">
                        <span asp-validation-for="Latitude"></span>
                    </td>
                </tr>
            </table>
            <div class="text-right mt-5">
                <button type="submit" class="btn btn-outline-dark">Create Record</button>
            </div>
        </form>
    </div>
</div>