<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Wall</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'theWall/css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <p class="navbar-brand">The Wall</p>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'thewall:index' %}">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="greeting nav-item text-light">Hello, {{request.session.first_name}}</li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'main:logout' %}">Logout</a></li>
            </ul>
    </nav>
    <div class="container">
       
       
        <div class="post_message">
            <h1>Post a message</h1>
            <form action="{% url 'thewall:post_message' %}" method="POST">
                <textarea name="post_message" id="post_message" class="form-control"></textarea>
                <input type="hidden" name="userid" value="{{request.session.userid}}">
                <button class="btn btn-primary">Post a message</button>
                {% csrf_token %}
            </form>
        </div>
        
        
        <div class="messages">
                {% for message in messages %}
                    <h5>{{message.user.first_name}} {{message.user.last_name}} - </h5>
                    <h5>posted: {{message.created_at}}</h5>
                    <div class="message">
                        <p>{{message.message}}</p><br><br>
                    </div>
                    
                    
                    <div class="comments">
                        {% for comment in message.comments.all %}
                            <h5>{{comment.user.first_name}} {{comment.user.last_name}} - </h5>
                            <h5>Posted: {{comment.created_at}}</h5>
                            <div class="comment">
                                <p>{{comment.comment}}</p>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="post_comment">
                            <h6>Post a comment</h6>
                            <form action="{% url 'thewall:post_comment' %}" method="POST">
                                <textarea name="post_comment" id="post_comment" class="form-control"></textarea>
                                <button class="btn btn-primary">Post a comment</button>
                                <input type="hidden" name="userid" value="{{request.session.userid}}">
                                <input type="hidden" name="messageid" value="{{message.id}}">
                                {% csrf_token %}
                            </form>
                    </div>
                {% endfor %}
            
        </div>
    </div>
</body>
</html>