@model Passcode

<div class="outline text-center col-6 offset-3">
    <h1>Random Passcode</h1>
    <div>
        <p class="border">@ViewBag.Code</p>
    </div>
    <div class="text-center">
        <a href="newpasscode" class="btn btn-outline-dark">Generate</a>
    </div>
</div>