<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Wall</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Simple Wall, Inc.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/thewall">The Wall <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
            {% if session['logged_in']: %}
            <form action="/logout"class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-1 messages"> <!-- TODO - Create CSS class-->
                <p class="header">{num_message} Message(s) for you ({{wall_owner}})</p>
                <p class="message">{sender_name} said "Hey What's up" ({num} hours ago)</p>
                <input type="submit" class="trashcan" value="  ">
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-1 sendmessage"> <!-- TODO - Create CSS class-->
                <p class="header">Send a message</p>
                <h5>You have sent a total of {num} messages</h5>
                <div class="users"> <!-- TODO - Create CSS Class -->
                    <form action="">
                        <label for="{user}">{user}</label>
                        <input type="textbox">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>