<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Counter</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        div{
            text-align: center;
            margin:20px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            padding: 10px 15px;
        }
        .top{
            display: block;
        }
        form input{
            display: inline-block;
        }
    </style>
</head>
<body>

    <div class="jumbotron">
        <p class="lead top">Counter:</p>
        <p class="lead">{{ total }} times</p>
        <form action="/double" method="post">
            <input type="submit" class="btn btn-primary" value="Double Visit!">
        </form>
        <form action="/clear" method="post">
            <input type="submit" class="btn btn-danger" value="Reset">
        </form>
    </div>
    <form action="/" method="post">
        <input type="hidden" name="counter" value="1">
        <input type="hidden" name="double" value="2">
    </form>


              
    
</body>
</html>