<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Dojo Survey</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
<link rel='stylesheet' href='/css/main.css'>
</head>
<body>

    <div class="container">
        <div class="infoDisplay p-5 col-12 col-md-6 offset-md-3 mt-5">
            <h4>Submitted Info</h4>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>@ViewBag.Name</td>                        
                    </tr>
                    <tr>
                        <td>Dojo Location:</td>
                        <td>@ViewBag.Location</td>                        
                    </tr>
                    <tr>
                        <td>Favorite Language:</td>
                        <td>@ViewBag.FavLang</td>                        
                    </tr>
                    <tr>
                        <td>Comment:</td>
                        <td>@ViewBag.Comment</td>                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</body>
</html>