<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Lovers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/show.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'books:index' %}">Book Lover</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="text-light">Welcome, {{request.session.first_name}}</li>
                <!-- <a class="nav-link" href="#">Link</a> -->
            </ul>
            <a class="d-inline my-2 my-md-0 add text-white" href="{% url 'books:new' %}">Add Book and Review</a>
            <a class="d-inline my-2 my-md-0 text-white" href="{% url 'main:logout' %}">Logout</a>
        </div>
    </nav>
    <div class="container">
        <h4>Name: {{user.first_name}} {{user.last_name}}</h4>
        <p>email: {{user.email}}</p>
        <p>Total Reviews: {{user.reviews.count}}</p>
        <h5>Posted Reviews on the following books:</h5>
        <ul>
            {% for review in reviews %}
            <li><a href="{% url 'books:show' review.book.id %}">{{review.book.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>