<div class="outline offset-3 col-6">
    <form action="/register" method="POST">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td><label for="Name">Your Name:</label></td>
                    <td><input type="text" name="Name" class="form-control"></td>
                </tr>
                <tr>
                    <td><label for="Dojo">Dojo Location:</label></td>
                    <td>
                        <select name="Dojo" class="form-control">
                            <option value="San Jose">San Jose</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Seattle">Seattle</option>
                            <option value="Online">Online</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="Language">Favorite Language:</label></td>
                    <td>
                        <select name="Language" class="form-control">
                            <option value="Python">Python</option>
                            <option value="CSharp">CSharp</option>
                            <option value="JavaScript">JavaScript</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <label for="Comment">Comment (optional):</label>
        <textarea name="Comment" class="form-control"></textarea>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-dark mt-4">Submit</button>
        </div>
    </form>
</div>