<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Lovers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'books/css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'books:index' %}">Book Lover</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="{% url 'books:index' %}">Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'books:new' %}">Add Book and Review</a></li>
            </ul>
            
            <a class="d-inline my-2 my-md-0 add text-white">Welcome, {{request.session.first_name}}</a>
            {% if request.session.loggedIn %}
                <a class="d-inline my-2 my-md-0 text-white" href="{% url 'main:logout' %}">Logout</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="recentreviews d-inline-block">
            <h5>Recent Book Reviews</h5>
            <div class="books">
                {% for review in reviews %}
                    <a href="{% url 'books:show' review.book.id %}">{{review.book.title}}</a>
                    <p>Rating: {{review.rating}} Stars </p>
                    <p>{{review.reviewer.first_name}} says "{{review.review}}"</p>
                {% endfor %}
            </div>
        </div>
        <div class="otherbooks d-inline-block">
            <h5>Other Books with Reviews:</h5>
            <div class="booklist">
                <ul>
                    {% for book in books %}
                        <li><a href="{% url 'books:show' book.id %}">{{book.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>



</body>
</html>