<!-- Written by Chris Honeycutt  -->
<!-- https://github.com/clhoneycutt -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customers and Leads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div id="daterange" class="float-right">
            <h4>Date Range of leads generated</h4>
            <p>Test ranges: 2015-06-01 thru 2015-06-31 and 2015-08-01 thru 2015-08-31</p> <!-- for testing purposes. -->
            <form action="rangefinder" method='post'>
                From: <input type="text" name='date_from' class="form-control d-inline" id="date_from" ng-required="true" placeholder="{{ first_date }}" >
                To: <input type="text" name='date_to' class="form-control d-inline" id="date_to" ng-required="true" placeholder="{{ second_date }}" >
                <input class="float-left" type="submit" name="update" value="Update">
            </form>
            <form action="clear" method='post'>
                <input class="float-right" type="submit" name="clear" value="Clear Filters">
            </form>
        </div>
        <h3>List of all customers and # of leads</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Number of Leads</th>
                </tr>
            </thead>
            <tbody>
                {% if 'range' not in session: %}
                    {% for lead in leads: %}
                    <tr>
                        <td>{{ lead['cust_name'] }}</td>
                        <td>{{ lead['num_leads'] }}</td>
                    </tr>
                    {% endfor %}
                {% else: %}
                    {% for item in session['range']: %}
                    <tr>
                        <td>{{ item['cust_name'] }}</td>
                        <td>{{ item['num_leads'] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <script>
            window.onload = function () {
            
            var options = {
                title: {
                    text: "Customers and number of new leads"
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: " <b>{label}</b>: {y} ",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: " {label} - {y} ",
                    dataPoints: [
                        {% if 'range' not in session: %}
                            {% for lead in leads: %}
                                { y: {{ lead['num_leads'] }}, label: "{{ lead['cust_name'] }}" },
                            {% endfor %}
                        {% else: %}
                            {% for item in session['range']: %}
                                { y: {{ item['num_leads'] }}, label: "{{ item['cust_name'] }}" },
                            {% endfor %}
                        {% endif %}
                    ]
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
            
            }
        </script>
    </div>
</body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</html>