/* RESET & DEBUG */
/*-------------------------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    outline: 1px solid red;
}


/* SINGLE ATTRIBUTES */
/*-------------------------------------------------------------------*/

.blue{
    color: rgb(34,101,158);
}



/* CONTAINER */
/*-------------------------------------------------------------------*/

#container{
    width: 970px;
    min-height: 1000px;
    margin: 0px auto;    
}

/* HEADER */
/*-------------------------------------------------------------------*/


#header{
    background-image: linear-gradient(silver, white);
    min-height: 300px;
}


#globe{
    width: 100px;
}
.internet{
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    color: rgb(71,71,71);
}





/* SIDENAV */
/*-------------------------------------------------------------------*/






/* CONTENT */
/*-------------------------------------------------------------------*/












