.container{
    margin-top: 10px;
}
.successmsg{
    margin-bottom: 25px;
    padding-top: 15px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    background-color: green;
    color: white;
}
.submitted{
    border: 1px solid black;
    min-height: 375px;
    padding: 25px;
}
.submitted h3{
    text-decoration: underline;
}