<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add a new course</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/css/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="addcourse">
            <fieldset>
                <legend>Add a new course</legend>
                <form action="{% url 'courses:create' %}" method="POST">
                    <p class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" class="col-12 col-sm-8 col-md-6 col-lg-4 form-control">
                    </p>
                    <p class="form-group">
                        <label for="desc">Description</label>
                        <textarea name="desc" id="desc" cols="44" rows="5" class="form-control"></textarea>
                    </p>
                    <button type="submit" class="btn btn-success">Add</button>
                    {% csrf_token %}
                </form>
            </fieldset>
        </div>
        <div class="courselist">
            <legend>Courses</legend>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{course.desc}}</td>
                        <td>{{course.created_at}}</td>
                        <td><a href="{{course.description_id}}/remove">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>