/* *{
    outline: 1px solid red;
} */
.book{
    width: 45%;
    margin: 50px 50px 0px 0px;
}
.book h6{
    margin-left: 10px;
}
.addreview{
    width: 45%;
    vertical-align: top;
    margin-top: 100px;
}
.review *{
    margin-left: 25px;
}
