@model RandNumbers

<div class="row">
    <h1 class="display-4 text-center">Here are some numbers!</h1>
    <div class="text-center col-3" style="border: 2px solid black; padding: 10px;">
        @{
            for(var idx=0;idx<@Model.nums.Length;idx++)
            {
                <p>@Model.nums[idx]</p>
            };
        }
    </div>
</div>