

@model User
<h1 class="text-center">Here is a user!</h1>
<div class="row">
    <div class="text-center col-3" style="border: 2px solid black; padding: 10px;">
            <p>@Model.FirstName @Model.LastName</p>
    </div>
</div>