<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Random Word Generator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container">
        <p>Random Word {% if request.session.attempt %}(attempt #{{ request.session.attempt }}){% endif %}</p>
        <div class="card">
            {% if not request.session.attempt %}
            <h3>Generate a random word! Press 'Generate'</h3>
            {% else %}
            <h1>{{ request.session.random_str }}</h1>
            {% endif %}
        </div>
        <form action="/random_word/generate" method="POST">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>
    </div>
</body>
</html>