<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkerboard</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            outline: 1px solid red;
        }
        table{
            margin: 50px auto;
        }

        table tr td{
            display: inline-block;
            width: 100px;
            height: 100px;
        }
        .color1{
            background-color: red;
        }
        .color2{
            background-color: black;
        }
    </style>
</head>
<body>

<table>
    {% for i in range(x): %}
    <tr>
        {% for j in range(y): %}
        <td class='color{{ (i+j)%2+1 }}'></td>

        {% endfor %}
    </tr>
    {% endfor %}

</table>
    
</body>
</html>