<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Razor Fun!</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
<link rel='stylesheet' href='~/css/main.css'>
</head>
<body>


    <div class="container">
        <h1 class="display-4">Here are some delicious foodz!</h1>
        @{
            var simpleList = new List<string>{
                "meatball",
                "chickenball",
                "cheeseball"
                };

            foreach (var foodz in simpleList)
            {
                if (foodz[0] == 'c' || foodz[0] == 'C')
                {
                    <p style="color: red;">@foodz</p>
                }
                else{
                    <p>@foodz</p>
                }
            }
        }
    </div>


</body>
</html>