<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/create.css' %}">
</head>
<body>
    <div class="container">
        <div class="card col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="card-body">
                <h1>Add user</h1>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="/users/create" method="POST">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="d-block">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="d-block">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="d-block">
                    {% csrf_token %}
                    <button class="btn btn-primary">Create</button>
                </form>
                <form action="/users">
                    {% csrf_token %}
                    <button class="btn btn-primary">Go Back</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>