<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Show User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/show.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>User 1</h1>
            <p>Full Name: Chris Honeycutt</p>
            <p>Email: Chris@test.com</p>
            <p>Created at: Today</p>
            <p><a class="btn btn-primary" href="/users/1/edit">Edit</a> <a class="btn btn-primary" href="#">Delete</a> <a class="btn btn-primary" href="/users">Go Back</a></p>
        </div>        
    </div>
</body>
</html>