@model NewProductView

<div class="row">
    <div class="offset-1 col">
        <div class="text-right">
            <h4>Products</a></h4>
        </div>
    </div>
    <div class="col-2">
        <div class="text-center">
            <p class="">-or-</p>
        </div>
    </div>
    <div class="col">
        <div class="text-left">
            <h4><a href="/">Categories</a></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="offset-1 col">
        <h4 class="mb-5">New Product</h4>
        <form asp-action="newproduct" asp-controller="Product" method="POST">
            <div class="form-group">
                <label asp-for="Product.Name" class="d-block">Name</label>
                <span asp-validation-for="Product.Name"></span>
                <input asp-for="Product.Name" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Product.Description">Description</label>
                <textarea type="text" asp-for="Product.Description" class="form-control" rows=5 ></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price">Price</label>
                <input asp-for="Product.Price" class="form-control">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-dark">Create</button>
            </div>
        </form>
    </div>
    <div class="VerticalLine offset-1 col-1 d-flex justify-content-center"></div>
    <div class="col">
        <h4 class="text-right mb-5">Existing Products</h4>
        @foreach(var product in Model.Products)
        {
            <a href="/products/@product.ProductID" class="d-block text-right">@product.Name</a>
        }
    </div>
</div>