@model User


<div class="outline p-5 col-12 col-md-6 offset-md-3 mt-5">
    <form asp-action="process" asp-controller="Survey" method="post">
        <div class="form">
            <div class="form-group">
                <label asp-for="Name">Your Name:</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location">Dojo Location</label>
                <select asp-for="Location" class="form-control">
                    <option value="San Jose">San Jose</option>
                    <option value="Chicago">Chicago</option>
                    <option value="New York">New York</option>
                    <option value="Seattle">Seattle</option>
                </select>
                <span asp-validation-for="Location"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavLang">Favorite Language:</label>
                <select asp-for="FavLang" class="form-control">
                    <option value="csharp">C#</option>
                    <option value="python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                </select>
                <span asp-validation-for="FavLang"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment">Comment:</label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment"></span>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
