@model User

    <div class="container">
        <div class="infoDisplay p-5 col-12 col-md-6 offset-md-3 mt-5">
            <h4>Submitted Info</h4>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>@Model.Name</td>                        
                    </tr>
                    <tr>
                        <td>Dojo Location:</td>
                        <td>@Model.Location</td>                        
                    </tr>
                    <tr>
                        <td>Favorite Language:</td>
                        <td>@Model.FavLang</td>                        
                    </tr>
                    <tr>
                        <td>Comment:</td>
                        <td>@Model.Comment</td>                        
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
