<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amadon</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/main.css' %}">
</head>
<body>
    <div class="container">
        <h1>Thank you for your business!</h1>
        <div class="purchaseInfo">
            <p>We charge your credit card for ${{request.session.priceCharged}}</p>
            <p>You have ordered {{request.session.numItemsPurchased}} items so far and spent ${{request.session.totalCharged}} with Amadon.com!</p>
        </div>
        <a href="{% url 'products:index' %}">Go Back</a>
    </div>
</body>
</html>