/* *{
    outline: 1px solid red;
} */
textarea{
    resize: none;
}
.post_message button{
    float: right;
    margin-top: 15px;
}
.border{
    margin-top: 75px;
}
.border h5{
    display: inline;
}
.allMessages{
    border: 1px solid black;
    margin-bottom: 25px;
    padding: 10px 0px 50px 10px;
}
.indivMessage{
    margin: 0px 0px 25px 25px;
}

.comments{
    margin: 0px 0px 25px 50px;
}
.comments p{
    display: inline;
}
.post_comment{
    margin: 0px 0px 25px 50px;
}
.post_comment button{
    float: right;
    margin: 15px 15px 0px 0px;
}